@font-face {
	font-family: 'FixedsysEx';
	src: url('/assets/fixedsys.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;

	font-family: 'FixedsysEx', Fixedsys, Monaco, Consolas, monospace;
	font-size: 16px;
	font-weight: normal;
}

html {
	min-height: 100vh;
	
	background: rgb(0, 0, 128);
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 15px;
	margin-bottom: 10px;

	color: rgb(255, 255, 0);
}

p {
	margin-bottom: 10px;
}

li {
	list-style: square;
	margin-left: 30px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (min-width: 1280px) {
	main {
		max-width: 30vw;
	}
}


a, a:visited {
	color: rgb(0, 128, 128);
}

a:hover {
	color: rgb(255, 255, 0);
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;

	background: rgb(192, 192, 192);
	color: black;

}

nav a {
	display: block;

	padding: 2px 5px;

	text-decoration: none;
}

nav a .active {
	background-color: black;
	color: white;
}

nav a:hover {
	text-decoration: underline;
}

nav a::first-letter {
	color: rgb(128, 0, 0);
}

.highlight {
	color: rgb(255, 255, 0);
}

#quick-message-form, #quick-message-form input, #quick-message-form textarea {
	width: 100%;
}
